<div class="container w-50 mt-5 text-center">
    <div class="text-center display-3 m-3 text-white">
        Word Limit:{{limit}}
    </div>
    <input type="range" min="1" max="50" value="{{limit}}" class="slider slider-horizontal form-control-range" (change)="handleSlideChange($event.target.value)" />
    <!-- <div class="row justify-content-center">
        <button class="btn btn-info" (click)="generate()">Generate Words</button>
    </div> -->
    <button class="btn btn-info mx-auto" (click)="generate()">Generate Words</button>
    <div *ngIf="words" class="card card-body">
        <p class="display-4">
            {{words}}
        </p>
    </div>
</div>

<!-- To set the horizontal margins to auto you can use mx-auto . The m refers to margin and the x will refer to the x-axis (left+right) and auto will refer to the setting. So this will set the left margin and the right margin to the 'auto' setting. Browsers will calculate the margin equally and center the element. The setting will only work on block elements so the display:block needs to be added and with the bootstrap utilities this is done by d-block -->